@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  background-color: #181818;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#root {
  width: 80%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  overflow: scroll;
  min-height: 100vh;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Helvetica Neue', Arial, sans-serif;

  font-size: 15px;
  text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar {
  display: none;
}

#container-main {
  display: grid;
  grid-template-columns: 0px 225px minmax(225px, auto) minmax(225px, auto);
  height: 100vh;
  height: 90vh;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: center;
  margin: 50px;
  padding-top: 80px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.left-project-view,
.center-list-view,
.right-description-view {
  border: 1px #ccc solid;
  min-height: 100%;
}

.material-symbols-outlined {
  cursor: pointer;
}

.left-project-view {
  display: grid;
  grid-template-rows: 100px 2px auto;
}

#sort {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  background-color: white;
  border-radius: 5px;
  border: none;
  min-height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #bde0fe;
  font-weight: bold;
}

.btn:focus {
  background-color: #a2d2ff;
  font-weight: bold;
}

#projects-id {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.section-break {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.center-list-view {
  display: grid;
  grid-auto-rows: 100px 5px 75px minmax(200px, auto);
}

#input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#task-item {
  height: 50px;
  border: none;
  background-color: #f1f0f0;
  border-radius: 20px;
  padding-left: 10px;
}

#add-project {
  background-color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 50px;
}

#home,
#task-alt,
#help {
  font-size: 35px;
}

.new-project-button {
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.new-project-button:hover {
  font-size: 20px;
  background-color: lightgreen;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.project-current {
  font-size: 20px;
  background-color: rgb(116, 207, 116);
  border: none;
  padding: 5px;
  cursor: pointer;
}

.dynamically-created-projects {
  display: flex;
  flex-direction: column;
}

.project-header {
  margin: 25px;
  font-size: 35px;
}

#project-input {
  margin: 15px;
}
.hidden {
  display: none;
}

#header {
  display: flex;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 40px;
}

li {
  list-style: none;
  position: relative;
  font-size: 18px;
  padding: 12px 8px 12px 25px;
  cursor: pointer;
}

.reminder-section {
  padding-top: 70px;
  cursor: pointer;
  border-radius: 20px;
}

#todo-item-name {
  padding-left: 20px;
  padding-top: 70px;
}

#description-input {
  height: 35px;
  border: none;
  background-color: #f1f0f0;
  border-radius: 20px;
  padding-left: 20px;
}

#right-input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.todo-item-description {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 100px;
}

#description {
  padding: 20px 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 30px;
  width: 100%;
  color: #42b883;
  background-color: #2a2a2a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(145deg, #333333, #2a2a2a);
  z-index: 1000;
}

.nav-header {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

.nav-header:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container > div {
  display: flex;
  gap: 40px;
}

.item {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.item:hover {
  cursor: pointer;
  background-color: #42b883;
  transform: translateY(-2px);
}

.logo {
  padding-left: 20px;
  font-weight: bold;
}

.logo a:hover {
  cursor: pointer;
  color: #e9d985;
}

a {
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
  list-style-type: none;
}

.nav-menu {
  margin-right: 30px;
  font-size: 16px;
  padding: 0;
  margin-top: 5px;
}

.nav-menu:hover a {
  cursor: pointer;
  color: #e9d985;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.footer img {
  height: 50px;
}

.footer img:hover {
  cursor: pointer;
  animation: spin 0.5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
