* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.header {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 30px auto;
    border: 1px black solid;
}

.buttons {
        display: flex;
        justify-content: center;    
    }

.buttons button, .color {
    margin: 10px;
    width: 4rem;
}

.cell {
    margin: 1px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer img {
    height: 50px;
}

input[type="color"] {
    padding: 5px;
    margin-left: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.buttons button {
    background-color: white;
    color: black; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.buttons button:hover{
    background-color: #ccc; 
}

input[type="color"]:hover {
    background-color: #ccc; 
}

#clear {
    background-color: #dc3545;
    color: white;
}

#clear:hover {
    background-color: #c82333; 
}

#text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.user-inputs {
    display: flex;
    justify-content: center;
    margin: 15px;
}
