:root {
    background: linear-gradient(to right,#007991, #222E50);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;

}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2.5em;
    height: 100vh;
}

.header span {
    padding: 0.1em;
}

.intro-text {
    width: 50%;
    font-size: 0.5em;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.section-header {
    padding-top: 50px;
    font-size: 2em;
}

.section-text {
    width: 50%;
    padding: 10px;
    font-size: 1em;
}

.profile-image {
    width: 30em;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
}

.logo {
    padding-left: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 30px;
}

.menu li:hover {
    cursor: pointer;
    color: #E9D985;
}

.skills-container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 60px 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

}

.skills-slide {
    display: flex;
    animation: 20s slide infinite linear;
}

.skills-slide img {
    height: 100px;
    margin: 0 40px;
}

@keyframes slide {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-50%)
    }
} 

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.project {
    display: flex;
    grid-template-rows: 100px;

}

.project-section {
    padding: 100px;
    font-size: 2em;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(33.33% - 20px); 
    margin-bottom: 20px;
    color: white;
    height: 100vh;

}
.project-image {
    width: 300px;
    border-radius: 10%;
}

.project-image:hover {
    width: 350px;
    cursor: pointer;
    border-radius: 10%;
}

.project-demo-link {
    padding-right: 40px;
}

.project-description {
    text-align: center;
}

.project-links {
    cursor: pointer;
}

.contact-section {
    color: white;
    text-align: center;
    padding: 100px;
    font-size: 2em;
}

.contact-text {
    font-size: 0.5em;

}

input {
    display: inline-block;
    width: 30%;
    padding: 5px;
}

.input-email {
    margin: 5px;
}

.input-message {
    height: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    background-color: #E9D985; 
    color: black; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    width: 100px;
    margin: 5px auto;
}

.submit-btn:hover {
    background-color: #e6cc4a;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img {
    width: 50px;
}

.footer img:hover {
    cursor: pointer;
    animation: spin 0.5s linear;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}